doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title &Rcy;&iecy;&zcy;&ucy;&lcy;&softcy;&tcy;&acy;&tcy;&icy; &tcy;&iecy;&scy;&tcy;&ucy;
    link(rel='stylesheet' href='css/style.css')
header
    .wrapper
        nav
            ul
                li.nav__link.active
                    a.nav__sublink(href='https://site-db-kpi-pma-seglyanik.herokuapp.com/custom') &Tcy;&iecy;&scy;&tcy;
                li.nav__link
                    a.nav__sublink(href='https://site-db-kpi-pma-seglyanik.herokuapp.com/custom/count') &Dcy;&iecy;&ncy;&ncy;&icy;&jcy; &rcy;&acy;&tscy;&iukcy;&ocy;&ncy;
                li.nav__link
                    a.nav__sublink(href='') &Ocy;&scy;&ocy;&bcy;&icy;&scy;&tcy;&icy;&jcy; &kcy;&acy;&bcy;&iukcy;&ncy;&iecy;&tcy;



block content