doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title &Rcy;&iecy;&zcy;&ucy;&lcy;&softcy;&tcy;&acy;&tcy;&icy; &tcy;&iecy;&scy;&tcy;&ucy;
    link(rel='stylesheet' href='css/style.css')
header
    .wrapper
        .logo
            a(href='') &Gcy;&ocy;&lcy;&ocy;&vcy;&ncy;&acy;
        nav
            ul
                li.nav__link.active
                    a.nav__sublink(href='test.html') &Tcy;&iecy;&scy;&tcy;
                li.nav__link
                    a.nav__sublink(href='count.html') &Dcy;&iecy;&ncy;&ncy;&icy;&jcy; &rcy;&acy;&tscy;&iukcy;&ocy;&ncy;
                li.nav__link
                    a.nav__sublink(href='') &Ocy;&scy;&ocy;&bcy;&icy;&scy;&tcy;&icy;&jcy; &kcy;&acy;&bcy;&iukcy;&ncy;&iecy;&tcy;
                    ul.nav__drop__menu
                        li
                            a.nav__menu__content(href='login.html') &Pcy;&rcy;&ocy;&fcy;&iukcy;&lcy;&softcy;
                        li
                            a.nav__menu__content(href='test-results-false.html') &Rcy;&iecy;&zcy;&ucy;&lcy;&softcy;&tcy;&acy;&tcy;&icy; &tcy;&iecy;&scy;&tcy;&ucy;
                        li
                            a.nav__menu__content(href='settings.html') &Ncy;&acy;&lcy;&acy;&shcy;&tcy;&ucy;&vcy;&acy;&ncy;&ncy;&yacy;
block content