<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вхід в особистий кабінет</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
    <div class="wrapper">
        <div class="logo">
            <a href="http://localhost.com:9000/users">Головна</a>
        </div>
        <nav>
            <ul>
                <li class="nav__link active">
                    <a class="nav__sublink" href="http://localhost.com:9000/custom">Тест</a>
                </li>
                <li class="nav__link">
                    <a class="nav__sublink" href="http://localhost.com:9000">Денний раціон</a>
                </li>
                <li class="nav__link">
                    <a class="nav__sublink" href="http://localhost.com:9000">Особистий кабінет</a>
                    <ul class="nav__drop__menu">
                        <li>
                            <a class="nav__menu__content" href=`http://localhost.com:9000/users`>Профіль</a>
                        </li>
                        <li>
                            <a class="nav__menu__content" href="http://localhost.com:9000/custom/lose">Результати тесту</a>

                        </li>
                        <li>
                            <a class="nav__menu__content" href="">Налаштування</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="container">
    <div class="form" id="form">
        <p>Увійдіть в особистий кабінет</p>
        <form action="http://127.0.0.1:8080/auth/login" method="Post">
            <label for="email">email</label><input type="text" name="email" placeholder="E-mail" id="email">
            <label for="password">password</label><input type="password" id="password" name="password"/>
            <button type="submit">Увійти</button>
            <p class="message">Не зареєстровані? <a href="signup.html">Створіть акаунт</a></p>
        </form>
    </div>
</div>
</body>
</html>