extends default

block header

block content
  div.profile
    div.profile-details
        h1(style={color: 'red'}).profile-name#{person.firstname} #{person.lastname}
      a.button.button-twitter(href=`${person.twitter}`)
        Follow me on Twitter
