extends header.pug

.settings
    h3 &Zcy;&mcy;&iukcy;&ncy;&icy;&tcy;&icy; &dcy;&acy;&ncy;&iukcy; &kcy;&ocy;&rcy;&icy;&scy;&tcy;&ucy;&vcy;&acy;&chcy;&acy;
    form
        p
            input(type='password' name='Старий Пароль' placeholder='Старий пароль')
            input(type='password' name='Новий Пароль' placeholder='Новий пароль')
        input(type='text' name="Ім'я" placeholder="Ім'я")
        input(type='text' name='Прізвище' placeholder='Прізвище')
        p
            button &Zcy;&mcy;&iukcy;&ncy;&icy;&tcy;&icy;
