<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Результати тесту</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<header>
    <div class="wrapper">
        <div class="logo">
            <a href="http://localhost.com:9000/users">Головна</a>
        </div>
        <nav>
            <ul>
                <li class="nav__link active">
                    <a class="nav__sublink" href="http://localhost.com:9000/custom">Тест</a>
                </li>
                <li class="nav__link">
                    <a class="nav__sublink" href="http://localhost.com:9000">Денний раціон</a>
                </li>
                <li class="nav__link">
                    <a class="nav__sublink" href="http://localhost.com:9000">Особистий кабінет</a>
                    <ul class="nav__drop__menu">
                        <li>
                            <a class="nav__menu__content" href=`http://localhost.com:9000/users`>Профіль</a>
                        </li>
                        <li>
                            <a class="nav__menu__content" href="http://localhost.com:9000/custom/lose">Результати тесту</a>

                        </li>
                        <li>
                            <a class="nav__menu__content" href="">Налаштування</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>

    <div class="container1">
        <p>Ще не пройшли тест? Дізнайтеся свій ризик цукрового діабету 2 типу прямо зараз. Пройти тест?</p>
        <div class="container1-text">
            <a href="http://localhost.com:9000/custom/" class="container-link">ТАК</a>
        </div>
    </div>

</body>

</html>